.board {
    @include flexible(space-between, flex-start, row, nowrap);
    min-height: 75vh;
    padding: $bigPadding;
    background-color: $primaryBGColor;
    border-radius: $borderRadiusBig;
}

.board__to-do--container, .board__in-progress--container, .board__done--container {
    @include flexible(flex-start, flex-start, column, nowrap);
    flex: auto;
    height: fit-content;
    padding: $smallPadding;
    border: 4px;
    border-style: ridge;
    border-radius: $borderRadiusBig;
}

.board__in-progress--container, .board__done--container {
    display: none;
}

.board__title-bar {
    @include flexible(space-between, center, row, nowrap);
}

.board__title, .board__card_counter, .board__add-card-btn, .board__to-do--delBtn {
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
    width: max-content;
    margin-bottom: $smallPadding;
    padding: $smallPadding $bigPadding;
    background-color: $secondBGColor;
    border-radius: $borderRadiusBig;
    font-weight: bold;
}

.board__title {
    justify-content: space-between;
} 

.board__card_counter {
    @include flexible(center, center, row, nowrap);
    margin: 0 0 0 $smallPadding;
    padding: 0;
    width: $normalBtnSize;
    height: $normalBtnSize;
    border-radius: 50%;
    background-color: $smallItemsColor;
    visibility: hidden;
}

.board__to-do--delBtn {
    @include flexible(center, center, row, nowrap);
    @include noBorderCursor;
    visibility: hidden;
    padding: 0;
    width: $normalBtnSize;
    height: $normalBtnSize;
    background: url('../../img/delete-btn.svg') no-repeat;
    background-size: contain;
    opacity: 40%;
}

.board__add-card-btn {
    width: max-content;
}

.modal-window {
    display: flex;
    visibility: hidden;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background:  rgba(0, 0, 0, 0.5);
}

.board__cards {
    padding: 0;
    list-style-type: none;
}

.to-do-card {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: $smallPadding;
    padding: $smallPadding;
    border: 1px solid $secondBGColor;
    border-radius: $borderRadiusSmall;
    background-color: $whiteBGColor;
    overflow: hidden;
}

.to-do-card--title {
    font-weight: bold;
}

.to-do-card--desc {
    display: -webkit-box;
    height: 2.5rem;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.to-do-card--bottom {
    display: flex;
}

.to-do-card--date {
    width: 45%;
    margin-right: $smallPadding;
    padding: 0.5*$smallPadding $smallPadding;
    background-color: $smallItemsColor;
    border-radius: $borderRadiusSmall;
    font-size: 0.5rem;
}

.to-do-card--move-btn, .to-do-card--delete-btn {
    @include noBorderCursor;
    width: $smallBtnSize;
    height: $smallBtnSize;
    background-image: url('../../img/delete-btn.svg');
    background-size: contain;
    background-color: $whiteBGColor;
    border-radius: 50%;
    opacity: 40%;
}

.to-do-card--move-btn {
    background-image: url('../../img/right-pointing-arrow.svg');
    margin-right: $smallPadding;
}

.board__add-card-btn {
    background-color: $primaryBGColor;
    outline: none;
    cursor: pointer;
}

.card-form {
    display: flex;
    flex-direction: column;
    width: 80vmin;
    padding: $bigPadding;
    background: $whiteBGColor;
    border-radius: $borderRadiusBig;
}

.card-form--top-field {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.7*$bigPadding;
}

.card-form--close-btn {
    @include noBorderCursor;
    width: $normalBtnSize;
    height: $normalBtnSize;
    background: url('../../img/delete-btn.svg') no-repeat;
    background-size: contain;
    opacity: 40%;
}

.card-form--title {
    @include noBorderCursor;
    width: 90%;
    font-weight: bold;
}

.card-form--desc {
    padding: $smallPadding;
    border-radius: $borderRadiusSmall;
    font-size: 0.9rem;
    outline: none;
    cursor: pointer;
}

.card-form--save-btn {
    @include noBorderCursor;
    width: 10rem ;
    max-width: 50%;
    margin-top: $bigPadding;
    padding: $smallPadding;
    border-radius: $borderRadiusBig;
    background-color: $primaryBGColor;
}