@media screen and (min-width: 541px) {

    .board__in-progress--container, .board__done--container {
        display: flex;
    }

    .board__to-do--container, .board__in-progress--container {
        margin-right: $bigPadding;
    }

    .board {
        width: 75%;
    }

    .modal-window--container {
        flex: 0.3;
    }

    .card--edit-img {
        width: $bigPadding *2;
        height: $bigPadding *2;
        margin-right: $smallPadding/2;
        background-size: $normalBtnSize;
    }

    .prev, .next, .slider-dots {
        display: none;
    }
}