@media screen and (min-width: 541px) {

    .board__to-do--container, .board__in-progress--container {
        margin-right: $bigPadding;
    }

    .modal-window--container {
        flex: 0.4;
    }

    .card--edit-img {
        width: $bigPadding *2;
        height: $bigPadding *2;
        margin-right: $smallPadding/2;
        background-size: $normalBtnSize;
    }

    .card--desc, .card--edit-desc {
        max-width: 16rem;
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 760px) {
    .board {
        width: 66%;
    }

    .modal-window--container {
        flex: 0.5;
    }
}

@media screen and (min-width: 1000px) {
    .slider {
        display: none;
    }

    .board {
        flex: auto;
        width: auto;
    }

    .board__in-progress--container, .board__done--container {
        display: flex;
    }

    .modal-window--container {
        flex: 0.264;
    }
}

@media screen and (min-width: 1600px) {
    .board {
        width: 75%;
    }
}

@media screen and (min-width: 2000px) {
    .board {
        width: 66%;
    }

    .modal-window--container {
        flex: 0.24;
    }
}